.ButtonNew {
  background-color: #DD9718;
  border: 1px solid ;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 6px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff;
    color: #DD9718;
    border: 1px solid ;
    border: 1px solid #DD9718;
  }

  &:active {
    background-color: #DD9718;
  }
}

@media screen and (max-width: 600px) {
  .rightSide {
    width: 100%;
  }

  .ButtonContainer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
  }
}
